<% content_for :title do %>FTE OKRs<% end %>
<div class="gridster">
  <a id="testrail" href="/overview" style="color:purple;">&lt; Overview</a>
  <div>Tracking for <a href="https://docs.google.com/document/d/1suhVPeaqm2wFir5Pg1P0zIalNI6_CJO9IJKBj6SEe_Q/edit" style="color:lightblue">FTE OKRs</a> for 2017</div>
  <ul>
    <!-- <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="deploy_cycle" data-view="Graph" data-title="Avg Production Deploy Cycle" data-moreinfo="In Days - All Projects" data-prefix=""></div>
    </li> -->

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="deploy_cycle_stage" data-view="Graph" data-title="Deploy Signoff" data-moreinfo="In Days - All Projects" data-prefix=""></div>
    </li>

   <!--  <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="bug_cycle" data-view="Graph" data-title="Avg Bug Cycle" data-moreinfo="In Days - All Projects" data-prefix=""></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="defects_qtr" data-view="Number" data-title="Defects" data-moreinfo="Total - All Projects" data-prefix=""></div>
    </li> -->

    <!-- <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="epm" data-view="Number" data-title="Errors Per Million Users (EPM)" data-moreinfo="Total - All Projects" data-prefix=""></div>
    </li> -->

    <!-- <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cpm" data-view="Number" data-title="Crashes Per Million Users (CPM)" data-moreinfo="Total - All Projects" data-prefix=""></div>
    </li> -->

    <!-- <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="uptime" data-view="Meter" data-title="Avg Uptime" data-moreinfo="Percent - All Projects" data-prefix="" data-suffix="%" data-min="0" data-max="100"></div>
    </li> -->

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="2017_okr_in_PRs" data-view="Meter" data-title="Running In Project Repo" data-moreinfo="Percent - All Projects" data-prefix="" data-suffix="%" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="tr_auto_coverage_total" data-view="Meter" data-title="Total Automation Coverage" data-moreinfo="% of all automable cases complete" data-prefix="" data-suffix="%" data-min="0" data-max="100"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="2017_okr_test_suites_complete" data-view="Meter" data-title="Test Suites Defined" data-moreinfo="Percent - All Projects" data-prefix="" data-suffix="%" data-min="0" data-max="100"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="2017_okr_test_automation_complete" data-view="Meter" data-title="Test Automation Defined" data-moreinfo="Percent - All Projects" data-prefix="" data-suffix="%" data-min="0" data-max="100"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="2017_okr_dashboards_complete" data-view="Meter" data-title="Project dashboards complete" data-moreinfo="Percent - All Projects" data-prefix="" data-suffix="%" data-min="0" data-max="100"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="2017_okr_diversity" data-view="Meter" data-title="Diversity Makeup" data-moreinfo="Percent of team" data-prefix="" data-suffix="%" data-min="0" data-max="100"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="2017_okr_inclusion" data-view="Number" data-title="Inclusiveness Rating" data-moreinfo="Out of 5" data-prefix="" data-suffix="" data-min="0" data-max="5"></div>
    </li>

  </ul>
</div>
