<div class="gridster">
  <a id="bugzilla_testrail" href="/overview" style="color:purple">&lt; Overview</a>
  <div>Bugzilla and TestRail stats for <a href="https://docs.google.com/spreadsheets/d/1aux1g-iUnsESFLd9tzmQp1ZskPTNbmt0uo1GdM7ZpRs/edit#gid=2055913776" style="color:lightblue;">Activity Stream</a></div>
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bgz_activity_stream_total_bugs_count" data-view="Number" data-value="current" data-title="Total Bugs" data-moreinfo="Count of all Bugzilla bugs" data-suffix=""></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="bgz_activity_stream_new_bugs_count" data-view="Number" data-value="current" data-title="New Bugs" data-moreinfo="Count of New Bugzilla bugs" data-suffix=""></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="bgz_activity_stream_assigned_bugs_count" data-view="Number" data-value="current" data-title="Assigned Bugs" data-moreinfo="Count of Assigned Bugzilla bugs" data-suffix=""></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="bgz_activity_stream_reopened_bugs_count" data-view="Number" data-value="current" data-title="Reopened Bugs" data-moreinfo="Count of Reopened Bugzilla bugs" data-suffix=""></div>
    </li>

    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="bgz_activity_stream_resolved_bugs_count" data-view="Number" data-value="current" data-title="Resolved Bugs" data-moreinfo="Count of Resolved Bugzilla bugs" data-suffix=""></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="testrail_activity_stream_total_tasks_count" data-view="Number" data-value="current" data-title="Total tasks" data-moreinfo="Count of Total TestRail tasks" data-suffix=""></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <br>
      <div data-id="testrail_activity_stream_untriaged_tasks_count" data-view="Number" data-value="current" data-title="Untriaged tasks" data-moreinfo="Count of Untriaged TestRail tasks" data-suffix=""></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="testrail_activity_stream_suitable_tasks_count" data-view="Number" data-value="current" data-title="Suitable tasks" data-moreinfo="Count of Suitable TestRail tasks" data-suffix=""></div>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="testrail_activity_stream_unsuitable_tasks_count" data-view="Number" data-value="current" data-title="Unsuitable tasks" data-moreinfo="Count of Unsuitable TestRail tasks" data-suffix=""></div>
    </li>

    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="testrail_activity_stream_completed_tasks_count" data-view="Number" data-value="current" data-title="Completed tasks" data-moreinfo="Count of Completed TestRail tasks" data-suffix=""></div>
    </li>
  </ul>

</div>



<div class="footer-links"></div>
