<div class="gridster">
  <a id="testrail" href="/overview" style="color:purple">&lt; Overview</a>
  <div>Testrail stats for <a href="https://testrail.stage.mozaws.net/index.php?/projects/overview/13" style="color:lightblue;">Firefox for Android</a></div>
  <ul>

    <!-- <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="tr_firefox_desktop_total_cases_count" data-view="Graph" data-title="Total Test Cases" data-moreinfo="Count of all test cases in Testrail" data-prefix=""></div>
    </li> -->

    <!-- <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="tr_firefox_desktop_total_cases_count_by_day" data-view="Sparkline" data-title="Total Test Cases By Day" data-moreinfo="Count of all test cases in Testrail" data-graphtype="lineplot" data-suffix=" l/h"></div>
    </li> -->

    <!-- <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="tr_firefox_desktop_total_automatable_count" data-view="Graph" data-title="Total Automatable Cases" data-moreinfo="Count of all test cases in Testrail" data-prefix=""></div>
    </li> -->

    <!-- <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tr_firefox_desktop_total_automatable_count" data-view="Number" data-title="Total Automatable Cases" data-moreinfo="Count of all automatable cases in testrail" data-suffix=""></div>
    </li> -->

    <!-- <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tr_firefox_desktop_auto_coverage_total" data-view="Meter" data-title="Total Automation Coverage" data-moreinfo="% of all automable cases complete" data-suffix="%"></div>
    </li> -->

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tr_firefox_for_android_total_cases_count" data-view="Number" data-value="current" data-title="Total Test Cases" data-moreinfo="Count of all test cases" data-suffix=""></div>
    </li>


    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="tr_firefox_for_android_auto_versus_total" data-view="Meter" data-title="% Automatable" data-moreinfo="% of all test cases that should be automable" data-prefix="" data-suffix="%" data-min="0" data-max="100"></div>
    </li>

     <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="tr_firefox_for_android_auto_coverage_total" data-view="Meter" data-title="Completed Automation" data-moreinfo="% of all automable cases complete" data-prefix="" data-suffix="%" data-min="0" data-max="100"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tr_firefox_for_android_failures_avg_per_run" data-view="Number" data-value="shortenedNumber" data-title="Average Defects Per Test Run" data-moreinfo="Total defects divided by total runs" data-suffix=""></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tr_firefox_for_android_total_failure_count" data-view="Number" data-value="shortenedNumber" data-title="Average Defects Per Test Run" data-moreinfo="Total defects divided by total runs" data-suffix=""></div>
    </li>


    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tr_firefox_for_android_total_regression_count" data-view="Number" data-value="shortenedNumber" data-title="Total Regressions Found" data-moreinfo="To Date" data-suffix=""></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tr_firefox_for_android_regressions_avg_per_run" data-view="Number" data-value="shortenedNumber" data-title="Average Regressions Per Test Run" data-moreinfo="Total regressions divided by total runs" data-suffix=""></div>
    </li>
  </ul>
</div>

<div class="footer-links"></div>
