<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="loop_availability" data-view="Number" data-title="Loop Availability" data-moreinfo="% of time up - YTD" data-suffix="%"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="loop_uptime" data-view="Number" data-title="Loop Uptime" data-moreinfo="Hours - Q1" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="loop_defects_qtr" data-view="Number" data-title="Loop Defects" data-moreinfo="Number of Defects in Loop Server and Client"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="loop_epm" data-view="Number" data-title="Errors Per Mille Users (EPM)" data-moreinfo="Q1" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="loop_call_success" data-view="Number" data-view="Graph" data-title="Loop Call Success Rate" data-moreinfo="% of succcesful calls"></div>
    </li>

  </ul>
</div>
