<div class="gridster" style="margin: 40px;">
  <ul>
    <!-- Some ideas to make this more useful, mostly high level green/red states -->
    <!-- Query build status from jenkins: dog.get_monitor(91879) (monitor for that jenkins build) -->
    <!-- Check each app status from datadog: dog.service_check('app.is_ok', 'app1', 0, :message => 'Response: 200 OK') -->
    <div>
      Topline
      <br />
      <a id="overall" class="topline" href="/2017_okrs" style="color:purple;">2017 OKRs</a>
      |
      <a id="testrail_aggregate" class="topline" href="/testrail_aggregate" style="color:purple;">Testrail Aggregate Stats</a>
    </div>
    <br />
    <br />

    <div>
      Browsers
      <br />
      <a class="project_stats" href="/testrail_firefox_desktop" style="color:purple;">Firefox Desktop</a>
      |
      <a class="project_stats" href="/testrail_firefox_for_android" style="color:purple;">Firefox for Android</a>
      |
      <a class="project_stats" href="/testrail_firefox_for_ios" style="color:purple;">Firefox for iOS</a>
    </div>
    <br />
    <br />
    <div>
      Sites/Services
      <br />
      <a class="project_stats" href="/testrail_addons" style="color:purple;">Addons</a>
      |
      <a class="project_stats" href="/testrail_telemetry" style="color:purple;">Telemetry</a>
    </div>

  </ul>
</div>
