<div class="gridster" style="margin: 40px;">
  <ul>
    <!-- Some ideas to make this more useful, mostly high level green/red states -->
    <!-- Query build status from jenkins: dog.get_monitor(91879) (monitor for that jenkins build) -->
    <!-- Check each app status from datadog: dog.service_check('app.is_ok', 'app1', 0, :message => 'Response: 200 OK') -->
    <div>
      Topline
      <br />
      <a id="overall" class="topline" href="/2017_okrs" style="color:purple;">2017 OKRs</a>
      |
      <a id="testrail_aggregate" class="topline" href="/testrail_aggregate" style="color:purple;">Testrail Aggregate Stats</a>
    </div>
    <br />
    <br />

    <div>
      Browsers
      <br />
      <a class="project_stats" href="/firefox_desktop" style="color:purple;">Firefox Desktop</a>
      |
      <a class="project_stats" href="/firefox_for_android" style="color:purple;">Firefox for Android</a>
      |
      <a class="project_stats" href="/firefox_for_ios" style="color:purple;">Firefox for iOS</a>
    </div>
    <br />
    <br />
    <div>
      Sites
      <br />
      <a class="project_stats" href="/addons" style="color:purple;">Addons</a>
      |
      <a class="project_stats" href="/testpilot" style="color:purple;">Testpilot</a>
      |
      <a class="project_stats" href="/socorro" style="color:purple;">Socorro/Crash-Stats</a>
      |
      <a class="project_stats" href="/mdn" style="color:purple;">MDN</a>
      |
      <a class="project_stats" href="/treeherder" style="color:purple;">Treeherder</a>
      |
      <a class="project_stats" href="/mozilla_dot_org" style="color:purple;">Mozilla.org</a>
      |
      <a class="project_stats" href="/snippets" style="color:purple;">Snippets</a>
      |
      <a class="project_stats" href="/sumo" style="color:purple;">SUMO</a>
      |
      <a class="project_stats" href="/mozillians" style="color:purple;">Mozillians</a>
    </div>

    <br />
    <br />
    <div>
      Services
      <br />
      <a class="project_stats" href="/telemetry" style="color:purple;">Telemetry</a>
      |
      <a class="project_stats" href="/tracking_protection" style="color:purple;">Tracking Protection</a>
      |
      <a class="project_stats" href="/absearch" style="color:purple;">ABSearch</a>
      |
      <a class="project_stats" href="/antenna" style="color:purple;">Antenna</a>
      |
      <a class="project_stats" href="/autopush" style="color:purple;">Autopush</a>
      |
      <a class="project_stats" href="/balrog" style="color:purple;">Balrog</a>
      |
      <a class="project_stats" href="/bouncer" style="color:purple;">Bouncer</a>
      |
      <a class="project_stats" href="/firefox_accounts" style="color:purple;">Firefox Accounts</a>
      |
      <a class="project_stats" href="/kinto" style="color:purple;">Kinto</a>
      |
      <a class="project_stats" href="/shield" style="color:purple;">Normandy/SHIELD</a>
      |
      <a class="project_stats" href="/stub_attribution" style="color:purple;">Stub Attribution</a>
      |
      <a class="project_stats" href="/sync" style="color:purple;">Sync</a>
    </div>

    <br />
    <br />
    <div>
      Test Pilot Experiments
      <br />
      <a class="project_stats" href="/testpilot_pageshot" style="color:purple;">PageShot</a>
      |
      <a class="project_stats" href="/testpilot_nomore404s" style="color:purple;">NoMore404s</a>
      |
      <a class="project_stats" href="/testpilot_minvid" style="color:purple;">MinVid</a>
      |
      <a class="project_stats" href="/testpilot_activitystream" style="color:purple;">ActivityStream</a>
      |
      <a class="project_stats" href="/testpilot_tabcenter" style="color:purple;">TabCenter</a>
      |
      <a class="project_stats" href="/testpilot_blok" style="color:purple;">Blok(Tracking Protection)</a>
      <br />
    </div>

    <br />
    <br />
    <div>
      Mobile Apps
      <br />
      <a class="project_stats" href="/prox" style="color:purple;">Prox</a>
      |
      <a class="project_stats" href="/focus" style="color:purple;">Focus (iOS)</a>
      |
      <a class="project_stats" href="/activity_stream_ios" style="color:purple;">ActivityStream (iOS)</a>
      |
      <a class="project_stats" href="/activity_stream_android" style="color:purple;">ActivityStream (Android)</a>
    </div>

    <br />
    <br />
    <div>
      Internal Tools/Projects (not counted overall)
      <br />
      BIDPOM
      |
      FxAPOM
      |
      PyPOM
      |
      Loads
      |
      FoxPuppet
      |
      <a class="project_stats" href="/webdriver_spec" style="color:purple;">WebDriver (Marionette)</a>
    </div>

  </ul>
</div>

<div class="footer-links"></div>
