<div class="gridster">
  <ul>
    <!-- Some ideas to make this more useful, mostly high level green/red states -->
    <!-- Query build status from jenkins: dog.get_monitor(91879) (monitor for that jenkins build) -->
    <!-- Check each app status from datadog: dog.service_check('app.is_ok', 'app1', 0, :message => 'Response: 200 OK') -->

      <a id="overall" href="/2017_okrs">2017 OKRs</a>
    <br />

      <a id="testrail" href="/testrail_aggregate">Testrail Aggregate Stats</a>
    <br />

      <a id="testrail" href="/testrail_firefox_desktop">Firefox Desktop</a>
    <br />

      <a id="testrail" href="/testrail_firefox_for_android">Firefox for Android</a>
    <br />

      <a id="testrail" href="/testrail_firefox_for_ios">Firefox for iOS</a>
    <br />

      <a id="testrail" href="/testrail_addons">Addons</a>
    <br />

      <a id="testrail" href="/testrail_telemetry">Telemetry</a>
    <br />

  </ul>
</div>
