<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tr_total_cases_count" data-view="Number" data-value="current" data-title="Total Test Cases" data-moreinfo="Count of all test cases in testrail" data-suffix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tr_total_automatable_count" data-view="Number" data-title="Total Automatable Cases" data-moreinfo="Count of all automatable cases in testrail" data-suffix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tr_auto_coverage_total" data-view="Number" data-title="Total Automation Coverage" data-moreinfo="% of all automable cases complete" data-suffix="%"></div>
    </li>

  </ul>
</div>
